.footer{
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    /* position: fixed; */
    bottom: 0px;
    width: 100%;
    /* margin: 2px;
    margin-right: 11px; */
    /* justify-content: space-evenly; */
   
    
  }
  .footer p{
    padding: 20px;

  }